<h1>All movies</h1>
{% for movie in object_list %}
    <ul>
        <li>Title: {{ movie.title }}</li>
        <li>Subtitle: {{ movie.subtitle }}</li>
        <li>Director: {{ movie.director }}</li>
        <li>Description: {{ movie.description }}</li>
    </ul>
{% endfor %}